#bussinessDetails div label {
    color: rgb(95, 92, 98) !important;

}

.bussinessDetails,
#vasikaDate,
#allotmentDate {
    height: 85% !important;
}

#bussinessDetailsct div label {
    color: rgb(95, 92, 98) !important;

}

.bussinessDetailsct {
    height: 40% !important;
}

#vasikaDate,
#allotmentDate {
    height: 91% !important;
}