STATE_LEVEL_TENANT_ID=pg
REACT_APP_PROXY_URL=https://urban.eydemoapp.in
REACT_APP_STATE_LEVEL_TENANT_ID=pg
SKIP_PREFLIGHT_CHECK=true
REACT_APP_USER_TYPE=EMPLOYEE
REACT_APP_EMPLOYEE_TOKEN=ec6a2db1-c000-4927-af21-f4ce13c1d75f
REACT_APP_CITIZEN_TOKEN=dce88a06-7e09-4923-97f9-f15af2deea66
# REACT_APP_PROXY_API=https://urban.eydemoapp.in
# REACT_APP_PROXY_ASSETS=https://urban.eydemoapp.in
# REACT_APP_GLOBAL=https://tfstatez7a2s.blob.core.windows.net/egov-dev-assets/globalConfigs.js

SKIP_PREFLIGHT_CHECK=true
REACT_APP_USER_TYPE=EMPLOYEE
REACT_APP_PROXY_API=https://urban.eydemoapp.in
REACT_APP_PROXY_ASSETS=https://urban.eydemoapp.in
 REACT_APP_GLOBAL=https://tfstate8auyj.blob.core.windows.net/egov-dev-assets/globalConfigs.js

PUBLIC_URL=https://urban.eydemoapp.in